<html>
  <head>
<title>upload</title>
</head>
<body>
<div>
<h1>UPLOAD</h1><br>
</div>
<div>
<h2><a href="">ramapriya</a></h2>
<p>address:jambu nagar </p>
<p> phone_no: 23764524 </p>
</div>
<div>
<h2><a href="">arundhati</a></h2>
<p>address: jumbo savari dinne</p>
<p> phone_no: 63652787</p>
</div>
<div>
<h2><a href="">padmasree</a></h2>
<p>address: jambu savari dinne </p>
<p> phone_no:873453872 </p>
</div>
<div>
<h2><a href="">vasundhara</a></h2>
<p>address: jambu savari dinne</p>
<p> phone_no: 87384674 </p>
</div>
</body>
</html>
