{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<title>Waste Management</title>
</head>
<body>
  <div class="page-header">
<h1>Waste Management</h1><br>
<p>
Arising quality of life, and high rates of resource consumption patterns have had a unintended and negative impact on the urban environment - generation of wastes far beyond the handling capacities of urban governments and agencies. Cities are now grappling with the problems of high volumes of waste, the costs involved, the disposal technologies and methodologies, and the impact of wastes on the local and global environment.
But these problems have also provided a window of opportunity for cities to find solutions - involving the community and the private sector; involving innovative technologies and disposal methods; and involving behaviour changes and awareness raising. These issues have been amply demonstrated by good practices from many cities around the world.
There is a need for a complete rethinking of "waste" - to analyse if waste is indeed waste. A rethinking that calls for<br>
<mark>WASTE to become WEALTH <br>
REFUSE to become RESOURCE<br/>
TRASH to become CASH</mark><br>
There is a clear need for the current approach of waste disposal that is focussed on municipalities and uses high energy/high technology, to move more towards waste processing and waste recycling<br>
</div><br>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
<div class="Upload">
  <h2>People who have uploaded:</h2><br>
<h2><a href="">ramapriya</a></h2>
<p>address:jambu nagar </p>
<p> phone_no: 23764524 </p>
</div>
<div class="Upload">
<h2><a href="">arundhati</a></h2>
<p>address: jumbo savari dinne</p>
<p> phone_no: 63652787</p>
</div>
<div class="Upload">
<h2><a href="">padmasree</a></h2>
<p>address: jambu savari dinne </p>
<p> phone_no:873453872 </p>
</div>
<div class="Upload">
<h2><a href="">vasundhara</a></h2>
<p>address: jambu savari dinne</p>
<p> phone_no: 87384674 </p>
</div>
</div>
  </div>
</div>
<h2>
<br><br>Click here to upload the image
<br><br><button type="submit"> <a href="/image">upload </a></button>
<h2>
</body>
</html>
